.Body{
    background-color:rgb(185, 123, 123);
    display: grid;
     grid-template-columns:  Auto   ;
     grid-template-rows: Auto Auto Auto Auto;
     color: blue;
     border: tomato;
   
 }
 .Article-block{
     grid-area: 1/4;
     color: teal;
     border-radius: 2vh;
 }
 .comment-title{
    color: rgb(24, 39, 39);
     grid-area: 2/1;
 }
 .Article-title{
    color: rgb(96, 167, 167);
 }
 .Comment-block{
     grid-area: 3/4;
     
     color: teal;
     border-radius: 1.5vh;
     background-color: white;
     margin: 1vh;
     
 }
 .PP{
     float: left;
     width: 9vh;
     height: 5vh;
     background-color: black;
     color:white;
 }
 .Pd{
 
 color:black
 }